# Ignore all data by default
data/**

# Allow DVC metadata
!data/**/*.dvc
!data/**/.gitkeep

# Models
models/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Environment files
.env
venv/
